parameters:
  paths:
    - src
  level: 9
  tmpDir: report/phpstan
  ignoreErrors:
    - '#Unsafe usage of new static#'
    - '#does not specify its types#'
    - '#type specified in iterable type#'
  reportUnmatchedIgnoredErrors: false
